.logo{
	background: url('/dev/img/GevenLogo.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	height: 200px;
}
.headerCont{
	background: transparent !important;
	border: 0px !important;
}